@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --color1: #F5EBD8;
  --color2: #714339;
  --color3: #F49D25;
  --color4: #93BF50;
  --color5: #598E48;

  --primary: #F5E8D6;
  --secondary:#734338;
  --yellow: #F99D1C;
  --darkgreen: #558F45;
  --lightgreen: #9fc564;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 35, 43, 43;
    --background-start-rgb: 35, 43, 43;
    --background-end-rgb: 35, 43, 43;
  }
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #c5c5c5;
  cursor: pointer;
  stroke: #646464;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

